:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f291f;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

/* Styling untuk seluruh halaman */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

/* Navbar */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
  height: 85px; /* Tentukan tinggi navbar */
}

.nav_content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color-dark);
  transition: 0.3s;
}

nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

/* Styling untuk artikel */
.article {
  max-width: var(--max-width);
  margin: 100px auto; /* Memberikan jarak dari navbar */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: var(--text-dark);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.8rem;
  margin-top: 20px;
}

h2 a {
  text-decoration: none;
  color: #1f291f;
}

/* Styling untuk konten dengan gambar */
.text-box {
  display: flex;
  align-items: flex-start; /* Menyelaraskan gambar dan teks secara vertikal */
  background-color: var(--extra-light);
  border: 1px solid var(--text-light);
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0; /* Jarak atas dan bawah */
}

.text-box img {
  width: 100px; /* Atur lebar gambar */
  height: auto; /* Menjaga rasio aspek gambar */
  margin-right: 15px; /* Jarak antara gambar dan teks */
  border-radius: 5px; /* Sudut membulat pada gambar */
}

.text-box div {
  flex: 1; /* Membuat teks mengambil sisa ruang */
}

/* Footer */
footer {
  margin-top: 30px;
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
  color: #777;
}

.footer-note {
  margin-top: 10px;
}

/* Responsivitas */
@media (max-width: 768px) {
  .article {
      padding: 10px;
  }

  h1 {
      font-size: 2rem;
  }

  h2 {
      font-size: 1.5rem;
  }

  .text-box {
      flex-direction: column; /* Mengubah arah flex untuk tampilan kecil */
      align-items: center; /* Menyelaraskan konten di tengah */
  }

  .text-box img {
      margin-bottom: 10px; /* Jarak bawah untuk gambar */
  }
}