:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f291f;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

/* Styling untuk seluruh halaman */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
  }
  
  nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99;
    height: 85px; /* Tentukan tinggi navbar */
}

.nav_content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color-dark);
    transition: 0.3s;
}

nav .logo a:hover {
    color: var(--primary-color-dark);
}

nav .checkbox {
    display: none;
}

nav input {
    display: none;
}

nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

ul li a:hover {
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}

.section{
  background-color: var(--extra-light);
}

.section__container{
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display:grid ;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;

}


  /* Styling untuk bagian About */
  #about {
    background-color: 
    #faf5ff;
    padding: 80px 50px;
    text-align: center;
    color: #272020;
    font-family: 'Lato', sans-serif;
  }
  
  .about-header {
    font-size: 2.5rem;
    font-weight: 700;
    color: #040404;
    margin-bottom: 20px;
    list-style-type: none;
  }
  
  .about-description {
    font-size: 1.1rem;
    line-height: 1.8;
    margin: 20px auto;
    max-width: 800px;
    color: #000000;
  }
  
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  
  .about-image {
    margin-top: 20px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .about-button {
    background-color: #0000008d;
    color: #ffffff;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .about-button:hover {
    background-color: #a5a6a8;
  }
  